{% extends 'blog/base.html' %} 
{% block header %}
<header
  class="masthead"
  style="background-image: url('/static/blog/img/home-bg.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Beyond</h1>
          <span class="subheading">The more you know the more you do</span>
        </div>
      </div>
      </div>
    </div>
  </div>
</header>
{% endblock %} {% block content %}
<div class="container">
  <div class="site-heading text-center">
    <h2>Latest Articles</h2>
  </div>
  <hr>

  <div class="card-deck">
    {% for post in posts %}
    <div class="card shadow-lg">
      <a href="{% url 'blog-post' postId=post.id%}"><img class="card-img-top" src="{{post.imageURL}}" height="300"></a>
      <div class="card-body">
        <a href="{% url 'blog-post' postId=post.id%}"><h5 class="card-title text-center">{{post.title}}</h5></a>
        <p class="card-text">Posted by
          {{post.author}}
          on {{post.date_posted}}</span></p>
        
      </div>
    </div>
    {% endfor %}
    
  </div>

  
  
  <footer>
    <!-- <div class="card ">
      <div class="row">
        <img
          src="https://pro.propeller.in/assets/images/profile-pic-300.png"
          class="card-img-top col-6"
        />
        <div class="card-body col-6">
          <h2 class="card-title">About US</h2>
          <p><div class="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos mollitia repellendus, iste eveniet totam dolor error qui cum omnis neque? Architecto velit consectetur saepe ipsa molestiae placeat beatae debitis ut!</div></p>
        </div>
      </div>
    </div> -->
  
    <div class="container">
    
    <div class="card pmd-card bg-dark text-white text-center overlay-card shadow-lg">
      
      <img src="https://pro.propeller.in/assets/images/profile-pic-300.png" class="pmd-card-media">
      
     
      <div class="card-img-overlay">
        <h2 class="card-title">ABOUT US</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Sed feugiat arcu ut orci porta, eget porttitor felis suscipit.<br> Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. </p>
      </div>
    </div>
  </div>
    
  </footer>

</div>



{% endblock %}
